// Partials
// @use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.conversation-title {
    font-size: 1.6rem;
    color: $silver;
}

.conversation-container {
    @include tablet {
        padding: 0 2.4rem;
    }

    @include desktop {
        width: 61.5%;
        padding: 0 0 0 8.0rem;
    }
}

// Form
.form {
    display: flex;
    margin: 0 1.6rem 0 0;
    color: $silver;
    border-bottom: 0.2rem solid $mercury;

    @include tablet {
        margin: 0;
    }


    &__image {
        background-image: url(../../assets/images/Mohan-muruge.jpg);
        background-size: cover;
        background-position: left;
        border-radius: 50%;
        width: 3.6rem;
        height: 3.6rem;
        display: flex;
        margin: 2.5rem 1.6rem;

    }

    &__input {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}


.join-convo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
    font-size: 1.3rem;

    @include desktop {
        padding-left: 2.4rem;
    }
}

.add-comment {
    background-color: $alabaster;
    color: $brainflix-black;
    border: 1px solid $mercury;
    resize: none;
    height: 10rem;
    border-radius: 0.4rem;
    padding: 1.2rem;
    margin-top: 0.4rem;

    @include tablet {
        height: 4.1rem;
        width: 46rem;
    }

    @include desktop {
        width: 43rem;
    }
}