// Partials
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.main-video-container {
    background-color: $brainflix-dark-black;
    width: 95vw;
}

.main-video {
    display: flex;
    margin: auto;
    width: 100%;
    object-fit: contain;
}