// Partials
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.main-video-container {
    background-color: $brainflix-dark-black;
    
}

.main-video {
    display: flex;
    margin: auto;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1.5;
    height: 54vw;

    @include tablet {
        width: 90%;
        height: 50vw;
    }

    @include desktop {
        width: 65%;
        height: 35vw;
    }
}