@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins';


.button {
    background-color: $brainflix-blue;
    color: $white;

    border: none;
    width: 90%;
    margin: auto;
    height: 4.0rem;
    background-image: url('../../assets/icons/upload.svg');
    background-repeat: no-repeat;
}