// Partials
// @use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.header {
    display: flex;
    flex-direction: column;
    border-bottom: 0.2rem solid $mercury;
    padding-bottom: 1.0rem;

    @include tablet {
        flex-direction: row;
    }

    &__image-container {
        display: flex;
        justify-content: center;
    }
    
    
    &__image {
        display: flex;
        padding: 1.4rem;
    }


    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}