// Partials
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;



.sidebar {
    
    
    @include tablet {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin: 1.6rem;
    }

    @include desktop {
        border-left: 0.2rem solid $mercury;
        position: relative;
        left: 76rem;
        bottom: 69.6rem;
        width: 27%;
    }

    &-title {
        color: $silver;
        font-weight: 400;
        margin: 1.6rem;
        font-size: 1.4rem;
    }
}
