// Partials
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video-details {
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 0 2.4rem;
    }

    &-info-container {
        display: flex;
        justify-content: space-between;
        margin: 1.6rem;
        color: $silver;
        border-bottom: 0.2rem solid $mercury;
        padding-bottom: 1.6rem;
        
    }


    &__title {
        padding: 1.6rem 0;
        margin: 0 1.6rem;
        border-bottom: 0.2rem solid $mercury;
        
        @include tablet {
            font-size: 3.3rem;
        }
    }

    &-info {

        &__channel {
            padding-bottom: 1.6rem;
            font-weight: 600;
            color: black;
        }
        
        &__views {
            padding-bottom: 1.6rem;
        }
    }


    &__description {
        padding: 0 1.6rem;
        
        @include tablet {
            padding-bottom: 2.4rem;
        }
    }

}

.number-comments {
    font-weight: 600;
    font-size: 1.6rem;
    margin: 1.6rem;
}